<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDao" class="com.qis.springframework.test.bean.UserDao"/>
    <bean id="userService" class="com.qis.springframework.test.bean.UserService" init-method="initDataMethod"
          destroy-method="destroyDataMethod">
        <property name="uid" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <!--    后置处理器-->
    <bean class="com.qis.springframework.test.common.MyBeanPostProcessor"/>
    <bean class="com.qis.springframework.test.common.MyBeanFactoryPostProcessor"/>
</beans>